---
title: My theory of VIM the IDE
date: 2017-09-08
---

<div class="row">
  <div class="col-md-3">
    <img class="img-responsive" src="https://pbs.twimg.com/profile_images/1772443295/photo_400x400.jpeg">
  </div>
  <div class="col-md-9">
    <strong>
      <a href="https://www.asktherelic.com/">Matt Behrens</a>
    </strong>
    <p>
      I would like to highlight the abilities that I have assembled, to make Vim a good IDE for any language. These abilities involve easy file searching, grepping, syntax highlighting, and formatting of code to start. Sometimes there is a builtin way to accomplish something, sometimes through finding the right plugin, and sometimes through hacking up some Vimscript. Often, there are multiple ways of accomplishing something and you are free to make the choice. I'd like to share the choices I've made and hopefully improve your experience in VIM.
    </p>
    <span><a href="https://twitter.com/askedrelic"><i class="speaker-social-icons fa fa-twitter"></i></a></span>
    <span><a href="https://github.com/askedrelic"><i class="speaker-social-icons fa fa-github"></i></a></span>
  </div>
</div>

