---
title: Head first with vim specific helpfile
date: 2017-09-10
---

<div class="row">
  <div class="col-md-3">
    <img class="img-responsive" src="http://roaming-initiative.com/mediagoblin/mgoblin_media/media_entries/2324/my_profile_picture.jpg">
  </div>
  <div class="col-md-9">
    <strong>
      <a href="http://blog.jaysinh.com/">Jaysinh Shukla</a>
    </strong>
    <p>
    This talk will provide initial guidelines on writing vim helpfiles. User
    documentation is one of the important aspects of any software. Because
    vim has a great functionality of dealing helpfile inside the editor, it is very important
    to write helpfile accessible inside vim editor and not anywhere else.
    Ideally, the talk will cover below points.
    </p>
    <ul>
      <li>
        Discuss the importance of editor specific helpfile.
      </li>
      <li>
        Basics syntax of vim helpfile.
      </li>
      <li>
        How to format your helpfile.
      </li>
      <li>
        Loading any helpfile to your vim editor.
      </li>
      <li>
        Accessing loaded helpfile.
      </li>
      <li>
        Guide on combining helpfile with your plugin so it recognized by plugin manager.
      </li>
    </ul>

    <h3>
      Background story
    </h3>
    <p>
      Recently I was trying to observe various vim plugins helpful for writers. Some commonly
      suggested <a href="https://github.com/junegunn/goyo.vim">goyo</a>. I was shocked to find
      that this plugin was not contained any vim specific helpfile. I request the
      author to take the responsibility of writing vim specific helpfile for this
      plugin, but he didn't agree with that decision at that time <a href="https://github.com/junegunn/goyo.vim/issues/145">reference</a>. I decided to write the helpfile for goyo plugin and wrote <a href="https://github.com/ultimatecoder/goyo-doc">goyo-doc</a>. By doing this task I learned the syntax of vim helpfile. I think it is good to discuss the importance of vim specific helpfile with a community and guide them on writing them.
    </p>
    <p>
      <a href="http://blog.jaysinh.com/2017/04/10/goyo-doc-vim-helpfile-for-goyo-plugin.html">Blog post: “goyo-doc: Vim helpfile for goyo.vim plugin”</a>
    </p>

    <span><%= speaker_twitter('jaysinhp') %></span>
    <span><%= speaker_github('ultimatecoder') %></span>
  </div>
</div>

