---
title: Signup for Vimfest 2017
date: 2017-07-11
published: true
---

<div class="row">
  <div class="col-md-3">
    <img class="img-responsive" src="https://pbs.twimg.com/profile_images/653090909161160704/wl65h3SN_400x400.png">
  </div>
  <div class="col-md-9">
    <p>
      If you plan to visit our event this year, <a href="http://doodle.com/poll/dadrizhcp9uevde8">please signup on doodle</a>.
    </p>
    <br>
    <p>
      Please mark on which days you want to be at the event, what kind of food you eat (carni, veget, vegan), and if you need help finding with
      an accomodation.
    </p>
    <br>
    <p>
      Let us know if you want to attend so that we can plan the location and program around Vimfest.
    </p>
  </div>
</div>

