<div class="row">
  <div class="col-xs-12">
    <p>Vimfest Berlin 2015 is the second community-driven <a href="http://www.vim.org/">Vim</a>
      "<a href="http://en.wikipedia.org/wiki/Hackathon">Hackathon</a>", happening
      the weekend of xx – yy <month> at <a href="http://www.thoughtworks.com/locations/berlin"><find-a-suitable-place</a> in Berlin, organized by the
        <a href="http://vimberlin.de">Vim Berlin</a> user group and Vim enthusiasts from other cities.
      </p>

      <p>We will spend the whole weekend on topics around the popular editor, such as:
        efficient ways of writing with Vim. Setting up <code>.vimrc</code>. Using plugins that
        rock, and writing plugins that rock. And also: other useful tools with vim
        keybindings, like <code>mutt</code> or <code>newsbeuter</code>, .... What ever you're interested in:
        Vimfest Berlin is an open space, everything is up to you!
      </p>

      <p>So don't hesitate, and save the date: <strong>xx – yy <month></strong> in Berlin: Be with us
        and join the very first Vimfest – try, learn and talk about the editor we all
        love.
      </p>

      <p>Ain't enough? Wait, there's more.</p>

      <p>Berlin is a great place that has a lot to offer. Once having many Vim lovers
        and interested people united at one place, we'll use the opportunity and,
        guided by our locals, go find some of the most interesting buffers of Berlin
        and celebrate Vim a bit at Saturday night.
      </p>

    </div>
  </div>
