<div class="row">
  <div class="jumbotron">
    <img class="img-responsive" style="display: block; text-align: center; margin-left: auto; margin-right: auto;" src="https://c2.staticflickr.com/2/1540/25051332105_bc6eb3f5ae_o.png" alt="Vimfest Berlin is the community-driven Vim "Hackathon" in Berlin, organized by the Vim Berlin user group and Vim enthusiasts from other cities."> <div class="container">
    <h1><%= data.global.title %></h1>
  </div>
</div>
