<div class="jumbotron">
  <div class="container">
    <h1 style="display: block; text-align: center; margin-left: auto; margin-right: auto;"><%= data.global.title %></h1>
    <p>
    Vimfest 2017 is the third community-driven <a href="http://www.vim.org/">Vim</a> "<a href="http://en.wikipedia.org/wiki/Hackathon">Hackathon</a>",
    happening the weekend of <strong>22 &ndash; 24 September</strong> in Berlin, organized by the <a href="http://vimberlin.de/">Vim Berlin user group</a>
    and Vim enthusiasts from other cities.</p>

    <br>

    <h2>The call for speakers is now open</h2>

    <p>We are looking for regular talks (about 30 ~ 60 minutes length) as well as lightning talks (about 5 ~ 15 minutes length).
    The topic of presentations are "anything related to <code>Vim</code>, <code>vimrc</code>, plugins, workflow or other tools you use in combination with text editing.
    Please check <a href="https://github.com/vimberlin/vimfest/issues/3">GitHub issue</a> to sign up for talks.
    </p>
    <p>
    You can submit your talks until <strong>30th of June, 2017</strong>.
    </p>

    <br>

    <!--
      <p>We will spend the whole weekend on topics around the popular editor, such as:
      efficient ways of writing with Vim. Setting up <code>.vimrc</code>. Using plugins that
      rock, and writing plugins that rock. And also: other useful tools with vim
      keybindings, like <code>mutt</code> or <code>newsbeuter</code>. What ever you're interested in:
      Vimfest Berlin is an open space, everything is up to you!</p>

      <p>So don't hesitate, and save the date: <strong>16 &ndash; 18 September</strong> in Berlin: Be with us
      and join the very second Vimfest. <a href="http://doodle.com/poll/ade8e834xxti7w6n">Register now</a> &ndash; try, learn and talk about the editor we all
      love.</p>

      <p>Ain't enough? Wait, there's more.</p>

      <p>Berlin is a great place that has a lot to offer. Once having many Vim lovers
      and interested people united at one place, we'll use the opportunity and,
      guided by our locals, go find some of the most interesting buffers of Berlin
      and celebrate Vim a bit at Saturday night.</p>
    -->

    <p>
    <a title="Sven Guckes" href="http://www.guckes.net/">Sven Guckes</a>, <a title="Tim Quellmalz" href="https://github.com/tqmz">Tim Quellmalz</a>, and <a title="Matthias Günther" href="http://wikimatze.de/about">Matthias Günther</a>.
    </p>
    <p>
  </div>
</div>
