<div class="row">
  <div class="col-md-12">
    <p>
    We are happy to announce <a href="">TBD</a> as the host for Vimfest 2018.
    </p>

    <p>
      Here is the exact location of the place:
    <br>
      <pre>
  TBD
  TBD 45,
  TBD Berlin (TBD)
      </pre>
    </p>
    Take the nearest sbahn and bus stop:
    <br>
    <br>

    <a href="">TBD</a>
    <br>
    <a href="">TBD</a>

    <br>

    <br>
    <div id="mapid"></div>
  </div>
</div>

