<div class="row">
  <div class="col-md-12">
    <p>
    We are happy to announce <a href="https://www.in-berlin.de/space">Individual Network Berlin e.V.</a> as the host for Vimfest 2017.
    </p>
    <p>
    Here is the exact location of the place:

    <pre>
Individual Network Berlin e.V.
Lehrter Str. 53
10557 Berlin
    </pre>
  </div>
  <div class="col-xs-12">
    <iframe width="0" height="0" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" style="display: none" src="http://www.openstreetmap.org/export/embed.html?bbox=13.356695473194122%2C52.533494546685%2C13.36023598909378%2C52.535065731214246&amp;layer=mapnik" style="border: 1px solid black"></iframe><br/><small><a href="http://www.openstreetmap.org/#map=19/52.53428/13.35847"></a></small>

    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" style="display: none" src="http://www.openstreetmap.org/export/embed.html?bbox=13.35636556148529%2C52.53366423079586%2C13.359906077384949%2C52.53523540925363&amp;layer=mapnik&amp;marker=52.5344498270522%2C13.35813581943512" style="border: 1px solid black"></iframe><br/><small><a href="http://www.openstreetmap.org/?mlat=52.53445&amp;mlon=13.35814#map=19/52.53445/13.35814"></a></small>

    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.openstreetmap.org/export/embed.html?bbox=13.35636556148529%2C52.53366423079586%2C13.359906077384949%2C52.53523540925363&amp;layer=mapnik&amp;marker=52.5344498270522%2C13.35813581943512" style="border: 1px solid black"></iframe><br/><small><a href="http://www.openstreetmap.org/?mlat=52.53445&amp;mlon=13.35814#map=19/52.53445/13.35814">View Larger Map</a></small>
  </div>
</div>

