<div class="row">
  <div class="col-md-12">
    <p>
    We are happy to announce <a href="https://www.in-berlin.de/space">Individual Network Berlin e.V.</a> as the host for Vimfest 2017.
    </p>

    <p>
      Here is the exact location of the place:
    <br>
      <pre>
  Individual Network Berlin e.V.
  Lehrter Str. 53
  10557 Berlin
      </pre>
    </p>
    <br>
    <div id="mapid"></div>
  </div>
  <div class="col-md-12">
  </div>
</div>

