<div class="row">
  <div class="col-md-12">
    <p>
    We are happy to announce <a href="http://www.buero20.org">Büro 2.0</a> as the host for Vimfest 2017.
    </p>

    <p>
      Here is the exact location of the place:
    <br>
      <pre>
  Büro 2.0
  Weigandufer 45,
  12059 Berlin (Neukölln)
      </pre>
    </p>
    Take the nearest sbahn and bus stop:

    <a href="http://www.osm.org/node/3515302617">S41+S42 "Sonnenallee"</a>
    <a href="http://www.osm.org/node/386576905">Bus 171 "Treptower Bücke"</a>

    <br>
    <div id="mapid"></div>
  </div>
</div>

