<h2 id="recordings">Recordings</h2>

<h3 id="writing-neovim-plugins">Writing NeoVim Plugins using Python Plugin</h3>

<div class="video-responsive">
  <iframe src="https://www.youtube.com/embed/UEztuAtAL38" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
</div>

<br>
<br>

<h3 id="quest-for-php-intellisense">The quest for PHP Intellisense in VIM</h3>

<div class="video-responsive">
  <iframe src="https://www.youtube.com/embed/Ge8Q9bYrHj0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
</div>

<br>

<div class="video-responsive">
  <iframe src="https://www.youtube.com/embed/XGQs0tWY5vM" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
</div>

<br>
<br>

<h3 id="vim-for-php-developers">VIM for PHP developers. The best editor with all IDE features</h3>

<div class="video-responsive">
  <iframe src="https://www.youtube.com/embed/ForHkpGLmtk" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
</div>

<br>

<div class="video-responsive">
  <iframe src="https://www.youtube.com/embed/iFLWQfKMKK4" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
</div>

<br>

<div class="video-responsive">
  <iframe src="https://www.youtube.com/embed/-eUf75Hrfeo" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
</div>

<br>
<br>

<h3 id="theory-of-vim-the-ide">My theory of VIM the IDE </h3>

<div class="video-responsive">
  <iframe src="https://www.youtube.com/embed/j8judKX4zjw" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
</div>

<br>

<div class="video-responsive">
  <iframe src="https://www.youtube.com/embed/flMrPG1Koa8" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
</div>

<br>
<br>

<h3 id="neovim-2-0-feature">Neovim 0.2 features and future </h3>

<div class="video-responsive">
  <iframe src="https://www.youtube.com/embed/wQh7saOHE5g" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
</div>

<br>

<div class="video-responsive">
  <iframe src="https://www.youtube.com/embed/PRfDemv4S9Q" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
</div>

<br>

<div class="video-responsive">
  <iframe src="https://www.youtube.com/embed/9ArKIm35zSk" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
</div>

<br>

<div class="video-responsive">
  <iframe src="https://www.youtube.com/embed/SgTfsueT5Ok" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
</div>

<br>
<br>

<h3 id="head-first-with-vim-specific-helpfile">Head first with vim specific helpfile </h3>

<div class="video-responsive">
  <iframe src="https://www.youtube.com/embed/8RABhRifGwk" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
</div>

<br>

<div class="video-responsive">
  <iframe src="https://www.youtube.com/embed/XaNzBesauX0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
</div>

<br>

<div class="video-responsive">
  <iframe src="https://www.youtube.com/embed/UcZyKYRDURc" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
</div>

<br>

<div class="video-responsive">
  <iframe src="https://www.youtube.com/embed/h_ZnosdL0tg" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
</div>

<br>
<br>


<h3 id="neovim-historians-best-friend"> Neovim – The Historian's Best Friend </h3>

<div class="video-responsive">
  <iframe src="https://www.youtube.com/embed/Eikm3Uz36hw" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
</div>

<br>

<div class="video-responsive">
  <iframe src="https://www.youtube.com/embed/C4rbfJw8Bgw" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
</div>

<br>
<br>

<h3 id="vim-mapathon">Vim Mapathon - An advanced introduction to maps</h3>

<div class="video-responsive">
  <iframe src="https://www.youtube.com/embed/SROCFueMTa8" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe></iframe>
</div>

<br>

<div class="video-responsive">
  <iframe src="https://www.youtube.com/embed/yiQJBfHG35s" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe></iframe>
</div>

<br>

<div class="video-responsive">
  <iframe src="https://www.youtube.com/embed/0Ag-UCi1G6w" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe></iframe>
</div>

