<h3 id="daniel-siepmann">Daniel Siepmann</h3>
<p><a href="https://daniel-siepmann.de/" title="Daniel Siepmann">Daniel Siepmann</a></p>
<ul>
  <li><a href="https://daniel-siepmann.de/Talk/Writing-NeoVim-Plugins-using-Python-Plugin-API.html" title="presentation link">presentation link for talk "Writing NeoVim Plugins using Python Plugin API"</a></li>
  <li><a href="https://gitlab.com/DanielSiepmann/neotags">neotags</a> - basic ctags auto update plugin for Neovim</li>
</ul>

<h3 id="dan-leech">Dan Leech</h3>
<ul>
  <li><a href="https://www.slideshare.net/dantleech/phpactor-and-vim">presentation link for talk "The quest for PHP Intellisense in VIM"</a></li>
  <li><a href="https://github.com/phpactor/phpactor">phpactor</a> - PHP refactoring and introspection tool</li>
</ul>

<h3 id="ra-l-torralba-adsuara">Raül Torralba Adsuara</h3>
<p><a href="https://github.com/rtorralba" title="Raül Torralba Adsuara">Raül Torralba Adsuara</a></p>
<ul>
  <li><a href="https://docs.google.com/presentation/d/1is1VNhquIW6qEEeL9U6VvxXVkDmqj6gqibjlBnj61b0/edit#slide=id.p" title="presentation link">presentation
      link for talk "VIM for PHP developers. The best editor with all IDE features."</a></li>
  <li><a href="https://github.com/rtorralba/dotfiles/blob/master/vim/ctags.vim">custom ctags functions</a> - own easytags functions</li>
  <li><a href="https://github.com/junegunn/fzf">fzf</a> - a command-line fuzzy finder </li>
  <li><a href="https://github.com/mattn/emmet-vim">emmet-vim</a> - a vim plug-in which provides support for expanding abbreviations similar to <a href="https://emmet.io/">emmet</a></li>
  <li><a href="https://github.com/airblade/vim-gitgutter">vim-gitgutter</a> - shows a git diff in the gutter (sign column) and stages/undoes hunks</li>
  <li><a href="https://github.com/Xuyuanp/nerdtree-git-plugin">nerdtree-git-plugin</a> - a plugin of NERDTree showing git status flags.</li>
  <li><a href="https://github.com/tpope/vim-fugitive">vim-fugitive</a> - a Git wrapper so awesome, it should be illegal</li>
  <li><a href="https://github.com/junegunn/gv.vim">gv</a> - a git commit browser</li>
  <li><a href="https://bitbucket.org/sjl/gundo.vim/">Gundo</a> - visualize your Vim undo tree</li>
</ul>

<h3 id="matt-behrens">Matt Behrens</h3>
<p><a href="https://github.com/askedrelic" title="Matt Behrens">Matt Behrens</a></p>
<ul>
  <li><a href="https://files.asktherelic.com/vimfest2017_-_vim_the_ide.pdf" title="presentation link">presentation link for talk "My theory of VIM the IDE "</a></li>
  <li><a href="https://github.com/FelikZ/ctrlp-py-matcher">ctrlp-py-matcher</a> - fast vim CtrlP matcher based on python</li>
  <li><a href="https://github.com/nathanaelkane/vim-indent-guides" title="display intend lines">display intend lines</a></li>
  <li><a href="https://github.com/mhinz/vim-grepper" title="vim-grepper">vim-grepper</a></li>
  <li><a href="https://github.com/jistr/vim-nerdtree-tabs">vim-nerdtree-tabs</a> - NERDTree and tabs together in Vim, painlessly</li>
  <li><a href="https://github.com/askedrelic/dotfiles">my dotfiles and vimrc</a></li>
  <li><a href="http://www.writethedocs.org/">writethedocs.org</a> - a series of conferences and local meetups focused on all things related to software documentation.</li>
</ul>

<h3 id="justin-keyes">Justin M. Keyes</h3>
<p><a href="https://twitter.com/justinmk" title="Justin M. Keyes">Justin M. Keyes</a></p>
<ul>
  <li><a href="" title="presentation link">presentation link for talk "Neovim 0.2 features and future" (missing)</a></li>
</ul>

<h3 id="jaysinh-shukla">Jaysinh Shukla</h3>
<p><a href="https://github.com/ultimatecoder" title="Jaysinh Shukla">Jaysinh Shukla</a></p>
<ul>
  <li><a href="https://docs.google.com/presentation/d/1rbX_P61R7kFfABUWPfTTr0eJTap3FsDOZz2vIq_u_Zw/edit?usp=sharing" title="presentation link">presentation
      link for talk "Head first with vim specific helpfile"</a></li>
  <li><a href="https://github.com/google/vimdoc">vimdoc</a> - Helpfile generation for vim </li>
  <li><a href="https://github.com/xaizek/vimdoc2html">vimdoc2html</a> - converts Vim-style documentation into HTML</li>
  <li><a href="https://github.com/nathangrigg/vimhelppdf">vimhelppdf</a> - a script to convert Vim documentation to hyperlinked PDF, using LaTeX</li>
</ul>

<h3 id="ramon-voges">Ramon Voges</h3>
<p><a href="http://www.ramonvoges.de/" title="Ramon Voges">Ramon Voges </a></p>
<ul>
  <li><a href="https://github.com/ramonvoges/Vimfest2017/blob/master/slides.md" title="presentation link">presentation link for talk "Neovim – The Historian's Best Friend"</a></li>
  <li><a href="http://www.ramonvoges.de/blog/Neovim-the-Historians-Best-Friend/">link to post about talk "Neovim – The Historian's Best Friend"</a></li>
  <li><a href="https://github.com/lervag/vimtex">vimtex</a> - a modern vim plugin for editing LaTeX files.</li>
  <li><a href="http://pandoc.org/">pandoc</a> -  a universal document converter</li>
  <li><a href="https://github.com/vim-pandoc/vim-pandoc">vim-pandoc</a> - pandoc integration and utilities for vim</li>
  <li><a href="https://github.com/vimwiki/vimwiki">vimwiki</a> - personal wiki for Vim</li>
  <li><a href="https://github.com/dbmrq/vim-ditto">ditto</a> - highlight repeated words</li>
  <li><a href="https://github.com/junegunn/goyo.vim">goyo</a> - distraction-free writing in Vim</li>
  <li><a href="https://github.com/wellle/targets.vim">targets.vim</a> - Vim plugin that provides additional text objects</li>
</ul>

<h3 id="wolfgang-mehner">Wolfgang Mehner</h3>
<p><a href="https://github.com/WolfgangMehner" title="Wolfgang Mehner">Wolfgang Mehner</a></p>
<ul>
  <li><a href="https://github.com/WolfgangMehner/Vim-Mapathon/blob/master/talk/talk.pdf" title="presentation with code examples">presentation for talk "Vim Mapathon - An advanced introduction to maps"</a></li>
  <li>Some dope build-in functionality: <code>:help include-search</code>. Just <code>:setlocal path=</code> and go nuts.</li>
</ul>

<h3 id="marc-deop">Marc Deop</h3>
<p><a href="https://github.com/marcdeop" title="Marc Deop">Marc Deop</a></p>
<ul>
  <li><a href="https://github.com/w0rp/ale" title="https://github.com/w0rp/ale">https://github.com/w0rp/ale</a>: a syntastic
    replacement</li>
  <li><a href="https://raw.githubusercontent.com/godlygeek/tabular/master/doc/Tabular.txt" title="tabular">tabular</a>: handy alignemt
    plugin</li>
  <li><a href="https://github.com/marcdeop/dotfiles/blob/master/.vimrc" title="vimrc of Marc Deop">vimrc of Marc Deop</a></li>
</ul>


<h3 id="sven-guckes">Sven Guckes</h3>
<p><a href="http://www.guckes.net/" title="Sven Guckes">Sven Guckes</a></p>
<ul>
  <li><a href="https://github.com/meh/cancer" title="a terminal with the name cancer">a terminal with the name cancer</a></li>
  <li><a href="https://github.com/dbmrq/vim-ditto" title="vim-ditto">vim-ditto</a>: stop repeating yourself</li>
</ul>


<h3>Random</h3>
<ul>
  <li><a href="https://github.com/jistr/vim-nerdtree-tabs">vim-nerdtree-tabs</a> - syncronize nerdtrees over tabs</li>
  <li><a href="https://github.com/mhinz/vim-grepper">Ggrepper</a> - contextual search</li>
  <li><a href="https://github.com/ggreer/the_silver_searcher">the_silver_searcher</a> - a code-searching tool similar to ack, but faster</li>
  <li><a href="https://github.com/mileszs/ack.vim">ack.vim</a> - Vim plugin for the Perl module / CLI script 'ack'</li>
  <li><a href="https://github.com/tpope/vim-vinegar">vim-vinegar</a> - combine with netrw to create a delicious salad dressing</li>
  <li><a href="https://github.com/ludovicchabant/vim-gutentags">vim-gutentags</a> - a Vim plugin that manages your tag files</li>
  <li><a href="https://github.com/honza/vim-snippets">vim-snippets</a> - vim-snipmate default snippets (Previously snipmate-snippets)</li>
  <li><a href="https://github.com/garbas/vim-snipmate">vim-snipmate</a> - snipMate.vim aims to be a concise vim script that implements some of TextMate's snippets features in Vim.</li>
  <li><a href="https://github.com/ervandew/supertab">supertab</a> - perform all your vim insert mode completions with Tab</li>
  <li><a href="https://github.com/tommcdo/vim-lion">vim-lion</a> - a simple alignment operator for Vim text editor</li>
  <li><a href="https://github.com/tpope/vim-surround">vim-surround</a> - quoting/parenthesizing made simple</li>
  <li><a href="https://github.com/benmills/vimux">vimux</a> - vim plugin to interact with tmux</li>
  <li><a href="https://github.com/janko-m/vim-test">vim-test</a> - run your tests at the speed of thought</li>
  <li><a href="https://github.com/neomake/neomake">neomake</a> - asynchronous linting and make framework for Neovim/Vim</li>
  <li><a href="https://github.com/alexgenco/neovim-ruby">neovim-ruby</a> - Ruby bindings for Neovim</li>
  <li><a href="https://github.com/rhysd/clever-f.vim">clever-f.vim</a> - extended f, F, t and T key mappings</li>
</ul>

