<img src="https://c1.staticflickr.com/9/8406/29767624735_748edeb14a_b.jpg" title="Vimfest 2016 group image">
<br>

The group of Vimfest visitors in 2016. You can find more images on <a href="https://www.flickr.com/photos/wikimatze/albums/72157672832954530">flickr</a>.


<h2>Matthias Günther</h2>

<p><a href="http://wikimatze.de/about">@wikimatze</a></p>

<ul>
  <li><a href="https://github.com/wikimatze/vim-radio" title="vim-radio">vim-radio</a> - a plugin which uses the
    <a href="http://www.mplayerhq.hu/design7/news.html" title="mplayer">mplayer</a> to display predefined radio
    stations.</li>
  <li><a href="matrix.org" title="matrix.org">matrix.org</a> - a new basis for open, interoperable, decentralised real-time
    communication</li>
  <li><a href="https://github.com/justinmk/vim-dirvish" title="dirvish">dirvish</a> - a directory viewer for vim</li>
  <li><code>:earlier</code> it&#39;s used to go back in the history (check out <a href="https://github.com/mbbill/undotree">https://github.com/mbbill/undotree</a> (preferred)
    and <a href="http://sjl.bitbucket.org/gundo.vim/">http://sjl.bitbucket.org/gundo.vim/</a> to visualize the tree)</li>
  <li><a href="https://github.com/tommcdo/vim-exchange" title="vim-exchange">vim-exchange</a> - easy text exchange operator for
    Vim</li>
  <li><code>@:</code> repeat the last command (=&gt; therefore space can be kept as a leader, especially since after @: you can
    just use <code>@@</code> to rerun the command)</li>
  <li><code>&lt;C-y&gt;</code> repeat the words above the cursor</li>
  <li><a href="http://ctags.sourceforge.net/" title="exuberant ctags">exuberant ctags</a> is dead, long live
    <a href="https://ctags.io/" title="universal-ctags">universal-ctags</a></li>
  <li><a href="https://github.com/moll/vim-bbye/" title="https://github.com/moll/vim-bbye/">https://github.com/moll/vim-bbye/</a> delete buffers in the right way</li>
  <li>password unix-like manager <a href="https://www.passwordstore.org/" title="https://www.passwordstore.org/">https://www.passwordstore.org/</a></li>
  <li><a href="vimb%20a%20very%20minimalized%20browser%20with%20full%20vim%20shortcuts%20https://fanglingsu.github.io/vimb/" title="vimb">vimb</a>
    a very minimalized browser with full vim shortcuts</li>
  <li><a href="https://github.com/rhysd/NyaoVim%20Web-enhanced%20Extensible%20Neovim%20Frontend" title="NyaoVim">NyaoVim</a>  is
    an extensible web-enhanced Neovim frontend</li>
  <li><code>&lt;C-Alt&gt;</code> will trigger block select for the mouse (not a Vim feature; depends on your terminal
    emulator) =&gt; works
    for xfce-terminal and ROXterm</li>
  <li><a href="https://github.com/hukl/Smyck-Color-Scheme" title="Smyck color schem">Smyck color schem</a> - color
      scheme for Terminal.app, iTerm2, Vim, MacVim, Sublime Text2 and Textmate</li>
</ul>

<h2>Daniel Siepmann</h2>

<p><a href="https://twitter.com/layneobserdia">@layneobserdia</a></p>

<ul>
  <li><a href="https://github.com/vim-php/vim-php-refactoring" title="vim-php-refactoring">vim-php-refactoring</a></li>
  <li><a href="https://github.com/tldr-pages/tldr">tldr</a> a CLI client to user contributed simplified
    man pages</li>
  <li>Read Awesome lists to check out nice findings. <a href="https://github.com/sindresorhus/awesome">https://github.com/sindresorhus/awesome</a></li>
  <li>Finish first working version of
    <a href="http://codemonitoring.readthedocs.io/en/feature-first-import-mechanism/">http://codemonitoring.readthedocs.io/en/feature-first-import-mechanism/</a></li>
  <li><a href="http://taskwarrior.org/">http://taskwarrior.org/</a></li>
  <li><a href="https://github.com/DanielSiepmann/dotfiles" title="dotfiles">dotfiles</a></li>
  <li>config for gutentags
    <a href="https://github.com/DanielSiepmann/dotfiles/blob/master/.vim/configs/plugins/gutentags.vim">https://github.com/DanielSiepmann/dotfiles/blob/master/.vim/configs/plugins/gutentags.vim</a></li>
</ul>

<h2>Justin M. Keyes</h2>

<p><a href="https://twitter.com/justinmk">@justinmk</a></p>

<ul>
  <li>terminal w3m/lynx wrapper (cf.
    <a href="https://github.com/HerringtonDarkholme/w3m.vim">https://github.com/HerringtonDarkholme/w3m.vim</a> ).</li>
  <li>All firefox text fields are vim: <a href="https://github.com/ardagnir/pterosaur">https://github.com/ardagnir/pterosaur</a></li>
  <li>slides-hack: <a href="https://github.com/justinmk/config/blob/master/.config/nvim/init.vim#L1289-L1334">https://github.com/justinmk/config/blob/master/.config/nvim/init.vim#L1289-L1334</a></li>
</ul>

<h2>Dmitry Maksimov</h2>

<p><a href="https://github.com/kolo">@kolo</a></p>

<ul>
  <li>nvim remote plugin help <a href="https://github.com/neovim/neovim/blob/master/runtime/doc/remote_plugin.txt">https://github.com/neovim/neovim/blob/master/runtime/doc/remote_plugin.txt</a></li>
  <li>nvim ruby host for remote plugins <a href="https://github.com/alexgenco/neovim-ruby">https://github.com/alexgenco/neovim-ruby</a></li>
  <li>diff-highlight source <a href="https://github.com/git/git/tree/master/contrib/diff-highlight">https://github.com/git/git/tree/master/contrib/diff-highlight</a></li>
</ul>

<h2>Daniel Hahler</h2>

<p><a href="https://twitter.com/blueyed">@blueyed</a></p>

<ul>
  <li>PRs for plugins using <code>:redir</code>, that can use the new execute() function (e.g. <code>EnhancedJumps</code>)</li>
  <li>syntax coloring for background of inactive windows etc
    (<a href="https://github.com/neovim/neovim/issues/5302">https://github.com/neovim/neovim/issues/5302</a>)</li>
  <li>running test with one keystroke for many programming languages <a href="https://github.com/janko-m/vim-test">https://github.com/janko-m/vim-test</a></li>
  <li>Spacemacs for Neovim: <a href="https://github.com/Tehnix/spaceneovim">https://github.com/Tehnix/spaceneovim</a></li>
  <li><a href="https://github.com/tpope/vim-commentary" title="vim-commentary">vim-commentary</a> comment things in vim</li>
  <li><a href="https://github.com/DaveDavenport/rofi">rofi</a> A window switcher, run dialog and dmenu replacement</li>
  <li><a href="https://github.com/blueyed/oh-my-zsh/blob/d4b29c19988e8dc5e81f8c90f288d5d546f8bdf8/zshrc#L368-L381">useful zsh
      aliases</a></li>
</ul>

<h2>Sven Guckes</h2>

<p><a href="https://twitter.com/guckes">@guckes</a></p>

<ul>
  <li>Newsbeuter/RSS: <a href="http://newsbeuter.org/">http://newsbeuter.org/</a></li>
  <li><a href="http://fivefilters.org/content-only/">FiveFilters Fulltext RSS</a></li>
  <li>Book about git <a href="http://gitbu.ch/">http://gitbu.ch/</a></li>
  <li>Book about zsh <a href="http://gitbu.ch/">http://gitbu.ch/</a></li>
  <li><a href="http://synflood.at/tpp.html">tpp</a> stands for text presentation program and is an ncurses-based
    presentation tool</li>
  <li><a href="https://github.com/zartstrom/dotfiles/tree/master/i3">i3 dotfiles of zartstrom</a></li>
  <li><a href="https://github.com/zartstrom/dotfiles/blob/master/i3/lock.sh">i3 lock file</a></li>
  <li><a href="https://github.com/mhinz/vim-startify">vim-startify</a> this plugin provides a start screen for
    Vim and Neovim.</li>
</ul>

<h2>Random</h2>

<ul>
  <li>interactive cheatsheet on the terminal with <a href="https://github.com/chrisallenlane/cheat">https://github.com/chrisallenlane/cheat</a></li>
  <li>capture the keystrokes in vim <a href="http://vim.wikia.com/wiki/Capture_all_keys">http://vim.wikia.com/wiki/Capture_all_keys</a></li>
  <li>gutentags: resolve symlinks with <code>g:gutentags_resolve_symlinks</code></li>
  <li>cmus is a small, fast and powerful console music player: <a href="https://cmus.github.io/">https://cmus.github.io/</a></li>
  <li><a href="http://mycli.net/" title="mycli">mycli</a> a command line interface for MySQL, MariaDB, and Percona
    with auto-completion and syntax highlighting.</li>
  <li>roxterm: change colors <a href="https://github.com/tqmz/dotfiles/tree/master/bin">https://github.com/tqmz/dotfiles/tree/master/bin</a></li>
  <li><a href="http://vim-adventures.com/">Vim Adventures</a> #games #vimkeybindings</li>
  <li>Firefox: <a href="https://github.com/akhodakivskiy/VimFx/">VimFx</a> #navigation #vimkeybindings</li>
  <li><a href="http://www.ghacks.net/2016/07/01/vimfx-improve-firefox-keyboard-use/">http://www.ghacks.net/2016/07/01/vimfx-improve-firefox-keyboard-use/</a></li>
  <li>rename string and filenames in python <a href="https://pypi.python.org/pypi/repren/0.3.8">https://pypi.python.org/pypi/repren/0.3.8</a></li>
  <li><a href="https://github.com/jlevy/repren">https://github.com/jlevy/repren</a></li>
  <li><a href="http://meldmerge.org/">meld</a> a visual diff and merge tool</li>
  <li><a href="https://git-lfs.github.com/">git-lfs</a> Git Large File Storage (LFS) replaces large files
    such as audio samples, videos, datasets, and graphics with text pointers inside Git,
    while storing the file contents on a remote server like GitHub.com or GitHub Enterprise.</li>
</ul>

