<div class="row">
  <div class="col-xs-12">
    <p>We got a confirmation from <a href="http://www.thoughtworks.com/locations/berlin"><find-location></a> and are happy to announce they'll
  host our weekend for <em>free</em>! Here is the location:
    </p>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2427.020216472162!2d13.419111299999994!3d52.53306839999992!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a84e037767de0b%3A0xeea2f7a5ae27f3c0!2zTcO8bGhhdXNlciBTdHJhw59l!5e0!3m2!1sen!2sus!4v1401733194428" style="border:0" frameborder="0" height="450" width="600"></iframe>

    <p>Venues for Saturday night to be announced. Watch <a href="http://twitter.com/vim_fest">@vim_fest</a> for updates.</p>
  </div>
</div>

