<div class="row">
  <div class="col-md-3">
    <img src="/public/images/voices/netznarkose.png">
  </div>
  <div class="col-md-9">
    <strong><a href="https://twitter.com/netznarkose">netznarkose</a></strong>
    <br>
    <br>
    <p>„I had a great time at Vimfest this year. It helped me a lot to discuss my workflow with other
      Vim-Enthusiasts. A big thank-you to the organizers, I&#39;m looking forward to a new edition of Vim-Fest next year.”</p>
  </div>
</div>
<br>
<br>
<div class="row">
  <div class="col-md-3">
    <img src="/public/images/voices/richard.png">
  </div>
  <div class="col-md-9">
    <strong><a href="https://github.com/oracle2025">Richard</a></strong>
    <br>
    <br>
    <p>„Vimfest was a very nice event, greatly enjoyed the topics and people, and came home with a number of
      inspirations and ideas for my vim life. ;-)”</p>
  </div>
</div>
<br>
<br>
<div class="row">
  <div class="col-md-3">
    <img src="/public/images/voices/tim.png">
  </div>
  <div class="col-md-9">
    <strong><a href="https://github.com/tqmz">Tim</a></strong>
    <br>
    <br>
    <p>„This was one of the most inspiring hackathons I attended so far – it exceeded my expectations by far, and those were
       high already! There was a warm, friendly atmosphere, full of respect and openness, really great. Looking forward a
       lot to the second Vimfest.”</p>
  </div>
</div>

