<div class="row">
  <div class="col-md-3">
    <img class="img-responsive" src="/public/images/voices/nils.jpeg">
  </div>
  <div class="col-md-9">
    <strong><a href="https://twitter.com/niels_k">niels_k</a></strong>
    <br>
    <br>
    <p>„Vimfest was a small but fine event. Because of the interesting talks and discussions I want to go there again.”</p>
    <a href="https://niels.kobschaetzki.net/post/2016-09-19-vimfest-2016/">Read more</a>
  </div>
</div>
<br>
<br>

<div class="row">
  <div class="col-md-3">
    <img class="img-responsive" src="/public/images/voices/daniel.jpg">
  </div>
  <div class="col-md-9">
    <strong><a href="https://twitter.com/layneobserdia?lang=en">layneobserdia</a></strong>
    <br>
    <br>
    <p>„This talk will be held at Vimfest 2016 in Berlin. It will introduce you to Git and provide the minimum necessary information to get started using Git on a daily basis ...”</p>
    <a href="https://daniel-siepmann.de/Talk/Introduction-to-Git-for-daily-usage.html">Read more</a>
  </div>
</div>
<br>
<br>

