---
title: Talk Vim everywhere on my machine
date: 2017-07-02
published: false
---

<div class="row">
  <div class="col-md-3">
    <img class="img-responsive" src="https://pbs.twimg.com/profile_images/790583330970402816/SsjCw-qH_400x400.jpg">
  </div>
  <div class="col-md-9">
    <strong>
      <a href="https://wikimatze.de.de/">Matthias Günther</a>
    </strong>
    <p>I would like to highlight the abilities that I have assembled, to make Vim a good IDE for any language. These abilities involve easy file searching, grepping, syntax highlighting, and formatting of code to start.</p>

    <span><a href="https://twitter.com/wikimatze"><i class="speaker-social-icons fa fa-twitter"></i></a></span>
    <span><a href="https://github.com/wikimatze"><i class="speaker-social-icons fa fa-github"></i></a></span>
  </div>
</div>

