---
title: Location and accomodation for Vimfest 2017
date: 2017-07-05
---

<div class="row">
  <div class="col-md-12">
    <h3>Location</h3>
    <h3>Accomodation</h3>

    <ul>
      <li>A&O Berlin Hauptbahnhof +49-30-3229.2042.00
      <li>http://www.aohostels.com/en/berlin/berlin-hauptbahnhof
      <li>Lehrter Straße 12-15, 10557, Berlin
      <li>http://goo.gl/maps/yeDPF
      <li>http://www.openstreetmap.org/way/423971811 A&O Hostel
      <li>http://www.openstreetmap.org/way/184111101 the building
      <li>http://www.openstreetmap.org/way/423971811 the area
      <li>path from main station via A&O hostel to IN-Berlin:
      <li>https://goo.gl/maps/6EpwufnirT32
    </ul>
  </div>
</div>
<br>
<br>

