@media (max-width: $screen-xs-max) {
  // phones
  body {
    font-size: 15px;
  }

  .jumbotron p {
    font-size: 16px;
    padding-left: 10px;
  }


}
@media (min-width: $screen-tablet) {
  // tablets
}
@media (min-width: $screen-desktop) {
  // desktop
}

@media (min-width: $screen-lg-desktop){
  // large desktop
}

