@media (max-width: $screen-xs-max) {
  // phones
  body {
    font-size: 15px;
  }

  .jumbotron p {
    font-size: 16px;
    padding-left: 10px;
  }


}
@media (min-width: $screen-tablet) {
  body {
    font-size: 15px;
  }
}

@media (min-width: $screen-desktop) {
  body {
    font-size: 16px;
  }
}

@media (min-width: $screen-lg-desktop){
  body {
    font-size: 17px;
  }

  #navbar ul {
    font-size: 15px;
  }
}

