.page-header {
  margin: 68px 0 20px !important;
}

.connect {
  font-size: 5em;
  margin-right: 20px;
}

.link-connect:hover {
  text-decoration: none;
}

.link-connect {
  text-decoration: none;
}

.twitter-connect {
  color: #55acee;
  text-decoration: none;
}
.facebook-connect {
  color: #3b5998;
}
.google-plus-connect {
  color: #d34836;
}
.youtube-connect {
  color: #bb0000;
}

.speaker-social-icons {
  font-size: 3em;
}

.speaker-image {
  border-radius: 50% !important;
  overflow: hidden;
  heigth: 120px;
  width: 120px;
  margin-left: 30px;
}

@import "bourbon";
@import "variables";
@import "mixins";
@import "site";
@import "responsive";

