.page-header {
  margin: 68px 0 20px !important;
}

.connect {
  font-size: 5em;
  margin-right: 20px;
}

.link-connect:hover {
  text-decoration: none;
}

.link-connect {
  text-decoration: none;
}

.youtube-connect {
  color: #bb0000;
}
.youtube-connect:hover {
  color: #8f0909;
}

.vimeo-connect {
  color: #337ab7;
}
.vimeo-connect:hover {
  color: #0d4f88;
}

.twitter-connect {
  color: #55acee;
}
.twitter-connect:hover {
  color: #167dcd;
}

.google-plus-connect {
  color: #d34836;
}
.google-plus-connect:hover {
  color: #b53b2b;
}

.facebook-connect {
  color: #3b5998;
}
.facebook-connect:hover {
  color: #3564c3;
}

.speaker-social-icons {
  font-size: 3em;
}

.speaker-image {
  border-radius: 50% !important;
  overflow: hidden;
  heigth: 120px;
  width: 120px;
  margin-left: 30px;
}

.video-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.video-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

a.nav-link {
  padding: 10px 15px !important;
}

.jumbotron p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.bg-light {
  border-bottom: 2px solid #e7e7e7 !important;
  border-width: 0 0 2px !important;
}


@import "bourbon";
@import "variables";
@import "mixins";
@import "site";
@import "responsive";

