---
title: Location for Vimfest 2017
date: 2017-09-02
---

<div class="row">
  <div class="col-md-12">
    <p>
    We are happy to announce <a href="http://www.buero20.org">Büro 2.0</a> as the host for Vimfest 2017.
    </p>

    <p>
      Here is the exact location of the place:
    <br>
      <pre>
  Büro 2.0
  Weigandufer 45,
  12059 Berlin
      </pre>
    </p>
  </div>
</div>

