---
title: Updating layout to Bootstrap 4
date: 2018-03-16
---

<div class="row">
  <div class="col-md-12">
    <p>
    I have switched to the latest <a href="https://getbootstrap.com/docs/4.0/getting-started/introduction/">Bootstrap 4 version</a>.
    If you encounter some strange layout behavior, please create an <a href="https://github.com/vimberlin/vimfest/issues/new">issue on GitHub</a>.
    </p>
  </div>
</div>

